.bloco {
    display: flex;
}

.principal{
    background-image:url(img/estrada.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 50%;
    background-position-y: -60%;
  
}