.bloco {
    display: flex;
}
.wrapper {
    display: flex;
  }

/* .principal{
    background-image:url(img/brasilCapitais.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 75%;
    background-position-y: 0%;
  
} */