<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./estilo.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Viajante Ambicioso</title>

</head>

<body class="principal">

    <header class="header-header">
        <nav class="navbar navbar-light " style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand text-black" href="#">
                    <img src="img/icone_localizacao.png" alt="" width="20%" height="20%"
                        class="d-inline-block align-text-top ">
                    Viajante Ambicioso
                </a>
            </div>
        </nav>

    </header>

    <div class="wrapper">
        <div style=" width: 600px;">
            <div class="container ms-3">
                <div class="card mt-3" style="width: 500px;">
                    <div class="card-body">
                        <form action="/rota" method="POST">
                            <div class="form-group mb-3 w-50">
                                <label for="origem">Capital inicial</label>
                                <select name="origem" id="capital-origem" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <option disabled="" selected="">Capital Inicial</option>

                                </select>
                                <small id="capitalInicial" class="form-text text-muted">Escolha a capital de
                                    origem</small>
                            </div>
                            <div class="form-group mb-3 w-50">
                                <label for="destino">Capital destino</label>
                                <select name="destino" id="capital-destino" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <option disabled="" selected="">Capital Destino</option>
                                </select>
                                <small id="capitalDestino" class="form-text text-muted">Escolha a capital
                                    destino</small>
                            </div>
                            <div class="form-group mt-4">
                                <label for="partidaHora">Adicione o horário que gostaria de sair</label>
                                <br><input class="form-time " type="time" id="partidaHora" name="partidaHora"
                                    min="00:00" max="23:59" required></br>
                            </div>
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input" name="queroPassear" id="formaPasseio">
                                <label class="form-check-label"  for="formaPasseio">Quero um dia de passeio para cada
                                    cidade
                                    que
                                    passar</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm float-end">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container ms-3">
                <div class="card mt-4" style="width: 500px;">
                    <div class="card-body">
                        <form>
                            <div class="form-group mb-3 w-50">
                                <label for="origem">Card para mostrar passeios</label>
                                <select name="origem" id="capital-origem" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <option disabled="" selected="">Capital Inicial</option>

                                </select>
                                <small id="capitalInicial" class="form-text text-muted">Escolha a capital de
                                    origem</small>
                            </div>
                            <div class="form-group mb-3 w-50">
                                <label for="destino">Capital destino</label>
                                <select name="destino" id="capital-destino" class="form-select form-select-sm"
                                    aria-label=".form-select-sm example">
                                    <option disabled="" selected="">Capital Destino</option>
                                </select>
                                <small id="capitalDestino" class="form-text text-muted">Escolha a capital
                                    destino</small>
                            </div>
                            <div class="form-group mt-4">
                                <label for="partidaHora">Adicione o horário que gostaria de sair</label>
                                <br><input class="form-time " type="time" id="partidaHora" name="partidaHora"
                                    min="00:00" max="23:59" required></br>
                            </div>
                            <div class="form-check mt-4">
                                <input type="checkbox" class="form-check-input" id="formaPasseio">
                                <label class="form-check-label" for="formaPasseio">Quero um dia de passeio para cada
                                    cidade
                                    que
                                    passar</label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm float-end">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="test" style="float: right;">
            <img class="d-block" style="height: 780px;" src="img/brasilCapitais.jpg" alt="Second slide">
        </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="js/cidades.js" type="text/javascript"></script>


</body>

</html>